<!-- app.component.html -->
<header>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
</header>

<main>
  <table>
    <thead>
      <th> Pizza ID </th>
      <th> Name </th>
      <th> Price </th>
    </thead>
    <tbody>
      <tr *ngFor="let pizza of pizzas">
        <td>{{ pizza.id }}</td>
        <td>{{ pizza.name }}</td>
        <td>{{ pizza.price }}</td>
      </tr>
    </tbody>
  </table>
</main>

<footer>
  <p>&copy; 2024 My Angular App</p>
</footer>